html{
scrollbar-color:#293647 #ffffff;
}

body{
background-color: black;
 margin: 0px;
}
 /*PARA EL INDICE*/
nav{
height: 110px ;
width: 100%;
text-align: center;
background-color:#E1C8A6;
}
nav ul{
float:right;
list-style:none;
}
a img{
width: 101pt;
position:absolute;
left: 20px;
top: 5px;
}
nav ul li{
display: inline-block;
height: 26pt;
margin: 26px;
border-radius: 40px;
}
.ton{
font-size: 40px;
color: white;
float: right;
line-height: 110px;
margin-right: 20px;
cursor: pointer;
display: none;
}
#check{
display: none;
}
nav ul li a{
text-decoration: none;
color: #1C1C1C;
text-transform: none;
transition: 0.3s ease;
font-family: "Lilita One", sans-serif;
color: #5b7d87;
}
 
a:hover{
color: black;
text-decoration: underline;
}
 
/*LOGO DEL BICHO*/
.elmejor{
position: absolute;
top: 0px;
left: 0px;
width: 100px;
}

h1{
margin-top: 120px;
font-size: 80pt;
color:white;
font-family: "Orbitron", sans-serif;
font-weight: 700;
text-align: center;
} 

h1:hover{
color: red;
}

/*ANIMACION DEL BICHO SOBRE EL TITULO*/
.gif{
position: absolute;
right: 1%;
width: 150px;
animation: bicho 10s linear alternate infinite;
}

@keyframes bicho{
0%{
transform: translate(-100px,0px)  ;
}
50%{
transform: translate(-1100px,0px);
} 
100%{
transform:  translate(-100px,0px)  ;
}
}

/*ANIMACION TEXTO - MAQUINA DE ESCRIBIR*/
.textazo{
color: yellow;
display: block;
font-family: monospace;
white-space: nowrap;
border-right: 4px solid ;
width: 90ch;
animation: text 7s steps(90),blink .5s infinite step-end alternate;
overflow: hidden;
font-size:20pt ;
text-align: center;  
}

@keyframes text{
from{
width: 0;
}
}

@keyframes blink{
50%{
border-color: transparent;
}
}

/*GALERIA DE IMAGENES DEL BICHO*/
section{
width: 1200px;
height: 600px;
display: flex;
margin: auto;
gap: 11px;
}

section img{
margin-top: 40px;
border-radius: 25pt;
width: 0px;
flex-grow: 1;
object-fit: cover;
opacity: 0.6;
transition: 3s ease;
border:solid #ffffff;
}

section img:hover{
cursor: initial;
width: 300px;
opacity: 1;
filter: contrast(120%);
border: goldenrod solid 7px;
border-radius: 25px;

} 
 /*TEXTOS, SUBTITULOS Y CONCEPTOS*/
.sub{
color: orangered;
font-family: "Oswald", sans-serif;
font-size: 40pt;
font-weight: 600;
text-align: center;
padding: 0px;
}

.sub:hover{
color: yellowgreen;
}

.conte{
padding-left: 80px;
padding-right: 80px;
margin-left: 500px;
margin-right: 500px;
margin: auto;
text-align: center;
color: white;
font-family: "Rubik", sans-serif;
font-size: 25pt;
font-weight: 300;
padding-bottom: 40px;
}

.conte:active{
color: yellow;
}

/*ANIMACION PARA IMAGENES*/
.imp{
padding: 30px;
margin: auto;
display: block;
width: 600px;
animation: ani both;
view-timeline-name: --ani; /* Define el nombre de la línea de tiempo de la vista */
animation-timeline: --ani; /* Asocia la animación a la línea de tiempo '--reveal' */
animation-range: entry 10% cover 60%; /* Define el rango de la animación desde que el elemento entra un 20% hasta que cubre el 70% */
}

@keyframes ani{
0%{
opacity: 0.1;
transform: scale(0.5);
}
100%{
opacity: 1;
transform: scale(1);
}
    
}

/*VIDEO DEL BICHO
 video{
border: #E1C8A6 solid 4px;
border-radius: 20pt;
box-shadow: #5b7d87 6px 6px 0px;
margin-top: 30px;
width: 40%;
}

.elvid{  
display: block;
text-align: center;
padding: 40px;
}*/

/*ANIMACION LADO IZQUIERDO*/  
.music{
display: inline-flex;
align-items: center;
justify-content: space-between;
position: absolute;
left: 18%;
bottom: -1160%;
width: 300px; 
height: 200px;
}

.music .bar{
width: 12px;
height: 2px;
border-radius: 10px;
background-color: white;
animation: nota 1.5s ease-in-out infinite;
}

@keyframes nota{
0%{
}

50%{
 height: 80px;
}

100%{
height: 2px;
}

}

.music .bar:nth-child(1){
background-color:purple ;
animation-delay: 1s;
}

.music .bar:nth-child(2){
background-color:crimson ;
animation-delay: 0.8s;
}
.music .bar:nth-child(3){
background-color:deeppink ;
animation-delay: 0.6s;
}
.music .bar:nth-child(4){
background-color:orange ;
animation-delay: 0.4s;
}
.music .bar:nth-child(5){
background-color:gold ;
animation-delay: 0.2s;
}
.music .bar:nth-child(6){
background-color:gold ;
animation-delay: 0.2s;
}
.ic .bar:nth-child(7){
background-color:orange ;
animation-delay: 0.4s;
}
.music .bar:nth-child(8){
background-color:deeppink ;
animation-delay: 0.6s;
}
.music .bar:nth-child(9){
background-color:crimson ;
animation-delay: 0.8s;
}
.music .bar:nth-child(10){
background-color:purple ;
animation-delay: 1s;
}

/*SHAZAMEA*/
.curioso{
background: -webkit-linear-gradient(90deg,#ff4013,#ff6a00,#7b219f); /* Chrome 10-25, Safari 5.1-6 */ 
background: linear-gradient(90deg,#ff4013,#ff6a00,#7b219f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
width: 230px;
padding: 0px;
margin: auto;
border-radius: 20px;
}
.curioso a{
text-decoration: none;
}
.curioso .sigue{
text-align: center;
color: white;
font-size: 20pt;
font-family: "Orbitron", sans-serif;
}

.curioso .sigue:hover{
color: black ;
font-weight: 700;
}

/*ANIMACION DEL LADO DERECHO*/
.musical{
display: inline-flex;
align-items: center;
justify-content: space-between;
position: absolute;
right: 18%;
bottom: -1160%;
width: 300px; 
height: 200px;
}

.musical .do{
width: 12px;
height: 2px;
border-radius: 10px;
background-color: white;
animation: no 1.5s ease-in-out infinite;
}

@keyframes no{
0%{
}
50%{
 height: 80px;
}
100%{
height: 2px;
}

}

.musical .do:nth-child(1){
background-color:purple ;
animation-delay: 1s;
}

.musical .do:nth-child(2){
background-color:crimson ;
animation-delay: 0.8s;
}
.musical .do:nth-child(3){
background-color:deeppink ;
animation-delay: 0.6s;
}
.musical .do:nth-child(4){
background-color:orange ;
animation-delay: 0.4s;
}
.musical .do:nth-child(5){
background-color:gold ;
animation-delay: 0.2s;
}
.musical.do:nth-child(6){
background-color:gold ;
animation-delay: 0.2s;
}
.musical .do:nth-child(7){
background-color:orange ;
animation-delay: 0.4s;
}
.musical .do:nth-child(8){
background-color:deeppink ;
animation-delay: 0.6s;
}
.musical .do:nth-child(9){
background-color:crimson ;
animation-delay: 0.8s;
}
.musical .do:nth-child(10){
background-color:purple ;
animation-delay: 1s;
}

/*RESPONSIVE PARA TABLET*/
@media(max-width:800px){
 
.ton{
display: block;
}
     
ul{
position: absolute;
width: 40%;
height: 100vh;
background-color:#1C1C1C;
opacity: 0.9;
top: 94px;
left: -150%;
text-align: center;
transition: all 0.5s;
display: flex;
flex-direction: column;
margin-left: 0px;
z-index: 2;
} 

ul:hover a:hover{
color: white;
}

li{
display: flex ;
flex-wrap: wrap;
}

#check:checked ~ ul{
left: 0%;
}

h1{
margin-top: 130px;
font-size: 60pt;
} 
   
section{
width: 600px;
height: 400px;
display: flex;
margin: auto;
gap: 7px;
} 

.textazo{
color: yellow;
display: block;
font-family: monospace;
white-space: nowrap;
border-right: 4px solid ;
width: 90ch;
animation: text 7s steps(90),blink .5s infinite step-end alternate;
overflow: hidden;
font-size:10pt ;
text-align: center;  
}
    
@keyframes text{
from{
width: 0;
}
}
    
@keyframes blink{
50%{
border-color: transparent;
}
}

.gif{
position: absolute;
top: 20%;
right: 1%;
width: 150px;
animation: bicho 10s linear alternate infinite;
}
    
@keyframes bicho{
0%{
transform: translate(-50px,0px)  ;
}
50%{
transform: translate(-500px,0px);
} 
100%{
transform:  translate(-50px,0px)  ;
}
}

.sub{
font-size: 30pt;
}

.conte{
font-size: 20pt;
}

.music{
position: absolute;
left: 4%;
bottom: -1225%;
width: 200px; 
height: 100px;
}
    
video{
width: 90%;
}

.musical{
position: absolute;
right: 4%;
bottom: -1225%;
width: 200px; 
height: 100px;
}   
}

/*RESPONSIVE PARA CELULAR*/
@media(max-width:600px){

.ton{
display: block;
}
 
ul{
background-color: #1C1C1C;
position: absolute;
width: 30%;
height: 100vh;
top: 94px;
left: -150%;
opacity: 0.9;
text-align: center;
transition: all 0.5s;
flex-direction: column;
margin-left: 0px;
z-index: 1; 
}

ul:hove a:hover{
color: white;
}

li{
display: flex ;
flex-wrap: wrap;
}
      
#check:checked ~ ul{
left: 0%;
}

h1{
margin-top: 120px;
font-size: 50pt;
} 
   
section{
width: 450px;
height: 300px;
display: flex;
margin: auto;
gap: 7px;
}
 
.textazo{
color: yellow;
display: block;
font-family: monospace;
white-space: nowrap;
border-right: 4px solid ;
width: 90ch;
animation: text 7s steps(90),blink .5s infinite step-end alternate;
overflow: hidden;
font-size:7pt ;
text-align: center;  
}
    
@keyframes text{
from{
width: 0;
}
} 
    
@keyframes blink{
50%{
border-color: transparent;
}
}

.gif{
position: absolute;
right: 1%;
top: 24%;
width: 110px;
animation: bicho 10s linear alternate infinite;
}

@keyframes bicho{
0%{
transform: translate(-0px,0px)  ;
}
50%{
transform: translate(-350px,0px);
} 
100%{
transform:  translate(-0px,0px)  ;
}
}

.sub{
font-size: 25pt;
}
    
.conte{
font-size: 15pt;
}

.imp{
width: 400px;
}

.music{
position: absolute;
left: 0%;
bottom: -916%;
width: 120px; 
height: 75px;
}

.music .bar{
width: 9px;
}
    
video{
width: 90%;
}

.musical{
position: absolute;
right: 0%;
bottom: -916%;
width: 120px; 
height: 75px;
}

.musical .do{
width: 9px;
}
}