html{
scrollbar-color:#293647 #ffffff;
}

body{
background-color: #E1C8A6;
margin: 0px;
}

/*PARA EL MENU*/
nav{
margin: 0%;
height: 110px ;
width: 100%;
text-align: center;
background-color:salmon;
}

nav ul{
float: right;
list-style: none;
}

nav a img{
width: 101pt;
position: absolute;
left: 20px;
top: 5px;
}

nav ul li{
display: inline-block;
height: 26pt;
margin: 26px;
border-radius: 40px;
}

.ton{
font-size: 40px;
color: white;
float: right;
line-height: 110px;
margin-right: 20px;
cursor: pointer;
display: none;
}

#check{
display: none;
}

nav ul li a{
text-decoration: none;
color: white;
text-transform: none;
transition: 0.3s ease;
font-family: "Lilita One", sans-serif;
}
 
a:hover{
color: #5b7d87;
text-decoration: underline;
}

/*PARA EL FONDO
.video{
position: fixed;
top: 50%;
left: 50%;
z-index: 1;
width: auto;
min-height: 100%;
height: auto;
transform: translate(-50%, -50%);
opacity: 0.3;
margin: 0px;
}*/

/*CONTENEDOR DE TODO*/
.prin{
position: relative;
z-index: 2;
width: 100%;
height: auto;
} 

/*ANIMACION DE LA PELOTA*/
.pel{
width: 175px;
height: 150px;
position: absolute;
top: 5%;
animation: fuchi 2s infinite alternate-reverse linear;
}

@keyframes fuchi {
0%{
transform: translate(0px, -20px);
}
50%{
transform: translate(0px, 200px);
}
100%{
transform: translate(0px, -20px);
}
}
/*ANIMACION DE LA 2DA PELOTA*/
.fut{
width: 175px;
height: 150px;
position: absolute;
top: 5%;
right: 0px;
animation: futbol 2s infinite alternate-reverse linear;
}

@keyframes futbol {
0%{
transform: translate(0px, -20px);
}
50%{
transform: translate(0px, 200px);
}
100%{
transform: translate(0px, -20px);
}
}

/*TITTULO*/
h1{
font-family: "Lilita One", sans-serif;
font-size: 100pt;
text-align: center;
text-shadow:#ed5761 5px 5px 0px, white 7px 7px 0px;
margin-top: 40px;
}

h1:hover{
font-size: 80pt;
text-align: center;
text-shadow: black  10px 10px 0px, burlywood 13px 13px 0px;
transition: 3s ease;
background:#ed5761;
background: linear-gradient( salmon, white );
-webkit-text-fill-color:transparent;
-webkit-background-clip: text;    
font-weight: 400;   
}

/*GALERIA DE IMAGENES*/
section{
width: 600px;
height: 430px;
display: flex;
margin: auto;
}

section img{
width: 0px;
flex-grow: 1;
object-fit: cover;
opacity: 0.8;
transition: 4s ease;
 border-radius: 10px;
}

section img:hover{
cursor: initial;
width: 300px;
opacity: 1;
filter: contrast(120%);
border: #dfb54b solid 7px;
border-radius: 25px;
}

.im{
display: block;
margin: auto;
width: 100px;
height: 100px;
}

/*SUBTITULO*/
.sub{
text-align: center;
font-family: "Lilita One";
font-weight: 400;
font-size: 60pt;
color:#c50505 ;
text-shadow: black 4px 4px 0px;
text-transform: uppercase;
}

.sub:hover{
color: white;
}

/*SUBTITULO*/
.ot{
text-align: center;
margin-left: 100px;
margin-right: 100px;
margin-top: 25px;
font-size: 25pt;
color: black;
font-family: "Geist", sans-serif;
}

.ot:hover{
color: #30474e;
font-weight: 500;
}

/*IMAGENES REDES SOCIALES*/
.dos{
height: 40px;
width: 40px;
}

/*PARA LAS REDES*/
footer{
background-color: #000000;
opacity: 0.9;
}

footer:active{
background-color: salmon;
}

.container{
width: 100%;
padding: 100px;
}

.social{
display: flex;
justify-content: center;
position: relative;
left: 20%;
}

.social a{
text-decoration: none;
padding: 10px;
background-color: white;
border-radius: 50%;
margin: 30px;
}

.social a:hover{
transform: scale(1.2,1.2);
transition: 1s ease-out; 
}

/*COPYRIGHT LOS PAPUS*/
.bot{
padding: 20px;
text-align: center;
opacity: 1;
color: #c50505;
position: relative;
font-size: 20pt;
left: 25%;}

.bot:hover{
color: white; 
}

.diseño{
opacity: 0.7;
letter-spacing: 3px;
font-weight: 500;
margin: 0px 7px;
}

/*RESPONSIVE PARA TABLET*/

@media (max-width:800px) {
.ton{
display: block;
}
 
ul{
position: absolute;
width: 40%;
height: 100vh;
background-color:#1C1C1C;
opacity: 0.9;
top: 94px;
left: -150%;
text-align: center;
transition: all 0.5s;
display: flex;
flex-direction: column;
margin-left: 0px;
z-index: 2;
} 

ul:hover a:hover{
color: white;
}

li{
display: flex ;
flex-wrap: wrap;
}
  
#check:checked ~ ul{
left: 0%;
}

.sub{
font-size: 40pt;
}

.ot{
font-size: 18pt;
margin-top: 15px;
margin-right: 70px;
margin-left: 70px;
text-align: center;
}
    
.pel{
margin-top: 130px;
width: 120px;
height: 110px;
position: absolute;
top: 20px;
animation: fuchi 2s infinite alternate-reverse linear;}

@keyframes fuchi {
0%{
transform: translate(0px, -20px);
}
50%{
transform: translate(0px, 130px);
}
100%{
transform: translate(0px, -20px);
}
}

.fut{
margin-top: 130px;
width: 120px;
height: 110px;
position: absolute;
top: 20px;
right: 0px;
animation: futbol 2s infinite alternate-reverse linear;}

@keyframes futbol {
0%{
transform: translate(0px, -20px);
}
50%{
transform: translate(0px, 130px);
}
100%{
transform: translate(0px, -20px);
}
}

h1{
margin-top: 30px; 
font-size: 70pt;
}
h1:hover{  
font-family: "Lilita One", sans-serif;
font-size: 69pt;
text-align: center;
text-shadow:black 4px 4px 4px ;
color: white;
transition: 2s;
 
}

section{
width: 500px;
height: 270px;
display: flex;
margin: auto;
}

section img{
width: 0px;
flex-grow: 1;
object-fit: cover;
opacity: 0.8;
transition: 3s ease;
}

section img:hover{
cursor: initial;
width: 170px;
opacity: 1;
filter: contrast(120%);
border: black solid 5px;
border-radius: 25px;}
}

footer:active{
background-color: salmon;
}

.container{
width: 70%;
padding: 0px  ;
}

.social{
display: flex;
justify-content: center;
}

.social a{
text-decoration: none;
padding: 10px;
background-color: #decff5;
border-radius: 50%;
margin: 10px;
}
    
.social a:hover{
transform: scale(1.2,1.2);
transition: 1s ease-out; 
}

.bot{
padding: 20px;
text-align: center;
opacity: 1;
color: #c50505;
}

.bot:hover{
color: white;
}

.diseño{
opacity: 0.7;
letter-spacing: 3px;
font-weight: 500;
margin: 0px 7px;
}

/*RESPONSIVE PARA CELULAR*/
@media (max-width:600px) {
.ton{
display: block;
}
 
ul{
background-color:  black;
position: absolute;
width: 30%;
height: 100vh;
top: 94px;
left: -150%;
opacity: 0.9;
text-align: center;
transition: all 0.5s;
flex-direction: column;
margin-left: 0px;
z-index: 1; 
} 

ul:hover a:hover{
color: #d4a017;
}

li{
display: flex ;
flex-wrap: wrap;
}

#check:checked ~ ul{
left: 0%;
}    

.pel{
margin-top: 130px;
width: 80px;
height: 70px;
position: absolute;
top: 40px;
animation: fuchi 2s infinite alternate-reverse linear;
}

@keyframes fuchi {
0%{
transform: translate(0px, -20px);
}
50%{
transform: translate(0px, 93px);
}
100%{
transform: translate(0px, -20px);
}
}

.fut{
margin-top: 130px;
width: 80px;
height: 70px;
position: absolute;
top: 40px;
right: 0px;
animation: futbol 2s infinite alternate-reverse linear;
}

@keyframes futbol {
0%{
transform: translate(0px, -20px);
}
50%{
transform: translate(0px, 93px);
}
100%{
transform: translate(0px, -20px);
}
}  
 
.dos{
width: 20px;
height: 20px;
}

.sub{
font-size: 30pt;
}
 
.ot{
font-size: 14pt; 
margin-left: 50px;
margin-right: 50px;
}

h1{
font-size: 50pt;
margin-top: 30px;
}

h1:hover{
font-family: "Lilita One", sans-serif;
font-size: 50pt;
text-align: center;
text-shadow:black 4px 4px 4px ;
color: white;
transition: 2s;
}

section{
width: 400px;
height: 170px;
display: flex;
margin: auto;
}

section img{
width: 0px;
flex-grow: 1;
object-fit: cover;
opacity: 0.8;
transition: 3s ease;
}
section img:hover{
cursor: initial;
width: 90px;
opacity: 1;
filter: contrast(120%);
border: black solid 5px;
border-radius: 25px;}
}
 
footer:active{
background-color: salmon;
}

.container{
width: 70%;
padding: 0px  ;
}

.social{
display: flex;
justify-content: center;
}

.social a{
text-decoration: none;
padding: 10px;
background-color: #decff5;
border-radius: 50%;
margin-right: 0px;
}
    
.social a:hover{
transform: scale(1.1,1.1);
transition: 1s ease-out; 
}

.bot{
padding: 20px;
text-align: center;
opacity: 1;
color: #c50505;
font-size: 13pt;
}
.diseño{
opacity: 0.7;
letter-spacing: 1px;
font-weight: 500;
margin: 0px;
}
