body{
    margin: 0px;
   background-color: #524f57;
}
/*.video{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: auto;
    min-height: 100%;
    height: auto;
    transform: translate(-50%, -50%);
    opacity: 0.1;
    margin: 0px;
}*/
.prin{
    position: relative;
    z-index: 2;
    width: 100%;
    height: auto;
} 
nav{
    height: 110px ;
    width: 100%;
    text-align: center;
    background-color:#E1C8A6;
}
nav ul{
    float:right;
    list-style:none;
}
.enlace img{
  width: 130px;
  height: 100px;
  position:absolute;
  left: 20px;
  top: 5px;
}
nav ul li{
    display: inline-block;
    height: 26pt;
    margin: 26px;
    border-radius: 40px;
}
.ton{
  font-size: 40px;
  color: white;
  float: right;
  line-height: 110px;
  margin-right: 20px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
nav ul li a{
    text-decoration: none;
    color: #d4a017;
    text-transform: none;
    transition: 0.3s ease;
    font-family: "Lilita One", sans-serif;
}
 
a:hover{
    color: #5b7d87;
    text-decoration: underline;
}

.ini h1{
    font-family: "Lilita One", sans-serif;
    font-size: 70pt;
    text-align: center;
    text-shadow:#ed5761 5px 5px 0px, white 7px 7px 0px;
    margin-top: 40px;
}
.ini h1:hover{
    font-family: "Lilita One", sans-serif;
    font-size: 80pt;
    text-align: center;
    text-shadow: black  10px 10px 0px, burlywood 13px 13px 0px;
    transition: 3s ease;
    background:#ed5761;
    background: linear-gradient( salmon, white );
    -webkit-text-fill-color:transparent;
-webkit-background-clip: text;    
font-family: "Lilita One", sans-serif;
        font-weight: 400;  
    
}
h3{
    margin: auto;
    margin-top: 6vh;
    margin-bottom: 6vh;
    text-align: center;
    font-size: 40pt;
    color: salmon;
    font-family: "lilita one", sans-serif;
    letter-spacing: 1px;
}

.t1{
    font-size: 40pt;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    color: #C3b1e1;
    font-family: "lilita one", sans-serif;
}

.t2{
    font-size: 23px;
    text-align: center;
    width: 50%;
    margin: auto;
    margin-top: 20px;
    color: white;
    font-family: "Geist", sans-serif;
}
h4{
    margin: auto;
    text-align: center;
    font-size: 40pt;
    color: #d4a017;
    font-family: "Anton", sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;

}
div{
    margin: auto;
    
}

div p{
    font-family: "Geist", sans-serif;
    color: white;
    font-size: 25pt;
    text-align:center ;
    margin-left: 150px;
    margin-right: 150px;
}

img{
    width: 600px;
    display: block;
    margin: auto;
    animation: ani both;
    view-timeline-name: --ani; /* Define el nombre de la línea de tiempo de la vista */
animation-timeline: --ani; /* Asocia la animación a la línea de tiempo '--reveal' */
animation-range: entry 10% cover 60%; /* Define el rango de la animación desde que el elemento entra un 20% hasta que cubre el 70% */
}

@keyframes ani{
    0%{
        opacity: 0.1;
        transform: scale(0.5);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
}
@media(max-width:800px){
    .ton{
        display: block;
      }
     
      ul{
        position: absolute;
        width: 40%;
        height: 100vh;
        background-color:#1C1C1C;
        opacity: 0.9;
        top: 94px;
        left: -150%;
        text-align: center;
        transition: all 0.5s;
        display: flex;
        flex-direction: column;
        margin-left: 0px;
        z-index: 2;

      } 
      ul:hover a:hover{
        color: white;
      }
      li{
        display: flex ;
        flex-wrap: wrap;
      }
      
      #check:checked ~ ul{
        left: 0%;
      }

    
    .ini h1{
        font-size:47pt ;
    }


    .ini h1:hover{
        font-family: "Lilita One", sans-serif;
        font-size: 59pt;        
    }

.t1{
    font-size: 30pt;
}

    .t2{
        font-size: 18px;
        width: 60%;
    }
    h3{
        font-size: 30pt;
        margin-top: 40px;
        margin-bottom: 100px;
    }
    img{
        width: 80%;
    }
    div h4{
        margin-top: 10px;
        height: 10vh;
        font-size: 30pt;
    }
    div div{
        margin-bottom: 20px;
    }
    div p{
        font-size: 20pt;
    text-align:center ;
    margin-left: 50px;
    margin-right: 50px;
 }
}
@media(max-width:600px){
    .ton{
        display: block;
      }
     
      ul{
        background-color: #1C1C1C;
        position: absolute;
        width: 30%;
        height: 100vh;
        top: 94px;
        left: -150%;
        opacity: 0.9;
        text-align: center;
        transition: all 0.5s;
        flex-direction: column;
        margin-left: 0px;
        z-index: 1; 
      } 

ul:hover a:hover{
    color: white;
}

      li{
        display: flex ;
        flex-wrap: wrap;
      }
      
      #check:checked ~ ul{
        left: 0%;
      }
    
    .ini h1{
        font-size: 39pt;
    }

    .ini h1:hover{
        font-family: "Lilita One", sans-serif;
        font-size: 48pt;
    }

    .t1{
        font-size: 17pt;
    }

    h3{
        font-size: 20pt;
    }
    h4{
      font-size: 20pt;
    }
    div p{
        font-size: 16pt;
    }
}