
html{
scrollbar-color:#293647 #ffffff;
}
 
body{
background-color:rgb(110, 184, 233);
margin: 0%;
}

/*PARA EL VIDEO DE FONDO
.video{
position: fixed;
top: 50%;
left: 50%;
z-index: 1;
width: auto;
min-height: 100%;
height: auto;
transform: translate(-50%, -50%);
opacity: 0.4;
margin: 0px;
}    */

/*CONTENEDOR DE TODA LA PAGINA*/
.prin{
position: relative;
z-index: 2;
width: 100%;
height: auto;
margin: 0;
}

/*TITULO*/
h1{
font-family: "Lilita One", sans-serif;
font-size: 100pt;
text-align: center;
text-shadow:#ed5761 5px 5px 0px, white 7px 7px 0px;
margin-top: 40px;
}

h1:hover{
font-size: 150pt;
text-shadow: black  10px 10px 0px, burlywood 13px 13px 0px;
transition: 3s ease;
background:#ed5761;
background: linear-gradient( salmon, white );
-webkit-text-fill-color:transparent;
-webkit-background-clip: text;     
font-weight: 400;  
}

/*INDICE*/
nav{
height: 110px ;
width: 100%;
text-align: center;
background-color:#E1C8A6;
}

nav ul{
float:right;
list-style:none;
}

/*LOGO*/
.enlace img{
width: 130px;
height: 100px;
position:absolute;
left: 20px;
top: 5px;
}

nav ul li{
display: inline-block;
height: 26pt;
margin: 26px;
border-radius: 40px;
}

.ton{
font-size: 40px;
color: white;
float: right;
line-height: 110px;
margin-right: 20px;
cursor: pointer;
display: none;
}

#check{
display: none;
}

nav ul li a{
text-decoration: none;
color: #1C1C1C;
text-transform: none;
transition: 0.3s ease;
font-family: "Lilita One", sans-serif;
color: rgb(252, 114, 99);
}
 
a:hover{
color: black;
text-decoration: underline;
}

.esc{
margin-top: 200px;
width: 650px;
height: 500px;
margin: auto;
display: block;
}

/*SUBTITULOS*/
.sut{
text-align: center;
font-family: "Anton", sans-serif;
font-weight: 400;
color: yellow;
font-size: 30pt;
}
 
.sut:active{
color: orangered;
text-shadow: #1C1C1C 4px 4px 0px;
}

/*CONCEPTOS DE LOS SUBTITULOS*/
.bravo{
text-align: center;
font-family: "Geist", sans-serif;
font-size: 15pt;
color: black;
padding: 20px;
}

/*CONCEPTO A CERCA DE QUE ES LA PAGINA*/
.tr{
text-align: center;
font-family: "Geist", sans-serif;
font-size: 18pt;
color: white;
padding: 20px;
margin-left: 200px;
margin-right: 200px;
}

.tr:active{
color: black;
font-weight: 600;
font-size: 20pt;
}

.bravo:hover{
color: rgb(155, 15, 15);
font-weight: 600;
}

img{
width: 40%;
height: 30%; 
display: block;
margin: auto;
}

/*QUE ES MUNDO GOL*/
h2{
text-align: center;
font-family: "Anton", sans-serif;
font-weight: 400;
color: yellow;
font-size: 35pt;
margin-top: 0px;
}

h2:hover{
color: orangered;
text-shadow: #1C1C1C 4px 4px 0px;
}

/*GRID*/
.mayor{
width: 94vw;
padding-bottom: 20px;
margin: auto;
display: grid;
grid-template-columns:repeat(3,1fr) ;
grid-template-rows:repeat(2,1fr) ;
grid-area: "a b c"
           "d e f";
gap: 20px;
}
 /*DIVISIONES DEL GRID */
.prim{
grid-area: "a";
background-color: salmon;
opacity: 0.8;
border-radius: 25px;
}
    
.seg{
grid-area: "b";
background-color: #5b6d87;
opacity: 0.8;
border-radius: 25px;
}
    
.ter{
grid-area: "c";
background-color:#E1C8A6;
opacity: 0.8;
border-radius: 25px;
}

.cuar{
grid-area: "d";
background-color:#43f9d9;
opacity: 0.8;
border-radius: 25px;   
}

.quin{
grid-area: "e";
background-color:white;
opacity: 0.8;
border-radius: 25px;
}
       
.sex{
grid-area: "f";
background-color: #c3b1e1;
opacity: 0.8;
border-radius: 25px;
}

/*RESPONSIVE PARA TABLET*/
@media(max-width:800px){
.ton{
display: block;
}
 ul{
position: absolute;
width: 40%;
height: 100vh;
background-color:#1C1C1C;
opacity: 0.9;
top: 94px;
left: -150%;
text-align: center;
transition: all 0.5s;
display: flex;
flex-direction: column;
margin-left: 0px;
z-index: 2;
} 

ul:hover a:hover{
color: white;
}

li{
display: flex ;
flex-wrap: wrap;
}

#check:checked ~ ul{
left: 0%;
}

esc{
position: relative;
top: -30%;
width: 500px;
height: 350px;
}

h1{
font-size: 70pt;
}

h1:hover{
font-size: 110pt;  
}

.tr{
margin-left: 80px;
margin-right: 80px;
}

.mayor{
width: 87vw;
border-radius: 25pt;
gap: 20px;
display: grid;
grid-template-columns:repeat(2,1fr) ;
grid-template-rows:repeat(3,1fr) ;
grid-area: "a b"
           "c d"
           "e f";
}
         
img{
width: 35%;
height: 20%; 
}
}
 
/*RESPONSIVE PARA CELULAR*/
@media(max-width:600px){
    
.ton{
display: block;
}
 
ul{
background-color: #1C1C1C;
position: absolute;
width: 30%;
height: 100vh;
top: 94px;
left: -150%;
opacity: 0.9;
text-align: center;
transition: all 0.5s;
flex-direction: column;
margin-left: 0px;
z-index: 1; 
} 

ul:hover a:hover{
color: white;
}

li{
display: flex ;
flex-wrap: wrap;
}
      
#check:checked ~ ul{
left: 0%;
}

h1{
font-size: 50pt;
}

h1:hover{
font-size: 80pt;  
}
 
.esc{
width: 330px;
height: 230px;
}
.tr{
margin-left: 30px;
margin-right: 30px;
}

.mayor{
width: 80vw;
display: grid;
grid-template-columns:repeat(1,1fr) ;
grid-template-rows:repeat(6,1fr) ;
grid-area: "a"
           "b"
           "c"
           "d"
           "e"
           "f";
}

img{
width: 40%;
height: 30%; 
}       
}
 