body{
margin: 0px;
background: #000000;
background-color: black;
background: linear-gradient(90deg, black,rgba(51,68,69,0.8419816901369923) 72%);
}

/*GRID*/
.grid{
width: 95vw;
height: 95vh;
border: 5px ;
margin: auto;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(17,1fr);
font-size: 2em;
color: rgb(208, 208, 208);
grid-area: "a b c c c"
           "d e f g h"
           "d i j g h"
           "d i k m h"
           "n n k ñ h";
}

/*CONTENEDOR DE LA INFORMACION E IMAGEN*/
.no{
padding: 20px;
}

/*IMAGENES DE LOS JUGADORES*/
img{
width: 35vw;
height: 50vh;
border: 7px salmon solid;
border-radius: 20px;
margin: auto;
display: block;
box-shadow: white 5px 5px 0px;
} 

nav{
height: 110px ;
width: 100%;
text-align: center;
background-color:#E1C8A6;
}

nav ul{
float:right;
list-style:none;
}

/*LOGO DEL INDICE*/
.enlace img{
width: 130px;
height: 100px;
position:absolute;
left: 20px;
top: 5px;
border: none;
box-shadow: transparent 0px 0px 0px;
}

nav ul li{
display: inline-block;
height: 26pt;
margin: 26px;
border-radius: 40px;
}

.ton{
font-size: 40px;
color: white;
float: right;
line-height: 110px;
margin-right: 20px;
cursor: pointer;
display: none;
}

#check{
display: none;
}

nav ul li a{
text-decoration: none;
color: #1C1C1C;
text-transform: none;
transition: 0.3s ease;
font-family: "Lilita One", sans-serif;
color: #5b7d87;
}

a:hover{
color: black;
text-decoration: underline;
}

/*SUBTITULO*/
h2{
font-family:"Lilita One", sans-serif;
color:#E1C8A6 ;
text-align: center;
font-size: 30pt;
text-shadow: rgb(0, 0, 0) 3px 3px 0px;
}

/*FRASE*/
h3{
font-family: "Passion One", sans-serif;
font-weight: 400;
color: #d4a017;
text-transform: uppercase;
text-align: center;
font-size: 22pt;
}

h3:hover{
color: #5db3ce;
}

/*VIDEO DE FONDO
.video{
position: fixed;
top: 50%;
left: 50%;
z-index: 1;
width: auto;
min-height: 100%;
min-height: 100%;
height: auto;
transform: translate(-50%, -50%);
opacity: 0.3;
margin: 0px;
}*/

/*CONTENEDOR DE TODA LA PAGINA*/
.prin{
position: relative;
z-index: 2;
width: 100%;
height: auto;
}

/*CONCEPTOS*/
p{
font-family: "Geist", sans-serif;
color: white;
font-size: 20pt;
text-align: center;
}

p:active{ 
color: black;
background-color: #ed5761;
}

/*TITULO*/
h1{
font-family: "Lilita One", sans-serif;
font-size: 70pt;
text-align: center;
text-shadow:#ed5761 5px 5px 0px, white 7px 7px 0px;
margin-top: 40px;
}

h1:hover{
font-size: 90pt;
text-shadow: black  10px 10px 0px, burlywood 13px 13px 0px;
transition: 3s ease;
background:#ed5761;
background: linear-gradient( salmon, white );
-webkit-text-fill-color:transparent;
-webkit-background-clip: text;    
font-weight: 400;  
}

/*RESPONSIVE PARA TABLET*/
@media(max-width:800px){
.ton{
display: block;
}

ul li a{
font-size: 17pt;
color: #5b7d87;
}

ul{
position: absolute;
width: 40%;
height: 100vh;
background-color:#1C1C1C;
opacity: 0.9;
top: 94px;
left: -150%;
text-align: center;
transition: all 0.5s;
display: flex;
flex-direction: column;
margin-left: 0px;
z-index: 2
} 

ul:hover a:hover{
color: white;
}

li{
display: flex ;
flex-wrap: wrap;
}

#check:checked ~ ul{
left: 0%;
}

.grid{
width: 95vw;
height: 95vh;
border: 5px ;
margin: auto;
display: grid;
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(50,1fr);
font-size: 2em;
}
    
img{
width: 45vw;
height: 40vh;
margin: auto;
display: block;
}

h1{ 
font-size: 50pt;
}

h1:hover{
font-size: 60pt;
}
}

/*RESPONSIVE PARA CELULAR*/
@media(max-width:600px){   
.ton{
display: block;
}

ul li a{
font-size: 13pt;
color: #5b7d87;
}

ul{
background-color: #1C1C1C;
position: absolute;
width: 30%;
height: 100vh;
top: 94px;
left: -150%;
opacity: 0.9;
text-align: center;
transition: all 0.5s;
flex-direction: column;
margin-left: 0px;
z-index: 1; 
} 

ul:hover a:hover{
color: white;
}

li{
display: flex ;
flex-wrap: wrap;
}

#check:checked ~ ul{
left: 0%;
}

.grid{
width: 95vw;
height: 95vh;
border: 5px ;
margin: auto;
display: grid;
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(50,1fr);
font-size: 2em;
}

img{
height: 46vh;
width: 65vw;
}
  
h3{
font-size: 22pt;
}
   
.titulo{
font-size: 40pt;
}

.titulo:hover{
font-family: "Lilita One", sans-serif;
font-size: 50pt;
}
}